*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(67, 214, 237);
}
.main_box{
    height: 580px;
    width: 900px;
    border: 1px solid black;
    margin: 200px ;
    margin-left: 300px;
    border-radius: 12px;
    margin-top: 60px;
    background-color: rgba(87, 65, 104, 0.33);
}
.main_box:hover{
    border: 1px solid white;
}
.game-sction{
    height: 260px;
    width: 500px;
    background-color:transparent;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 0px;
}
.player1{
    height: 200px;
    width: 200px;
    margin: 20px;
    text-align: center;
}
.player2{
    height: 200px;
    width: 200px;
    margin: 20px;
    text-align: center;
}
.score-sction{
    height: 180px;
    width: 290px;
    background-color: rgba(144, 198, 230, 0.382);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    border: 3px solid black;
}
.img1{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 40px;
    margin-bottom: 10px;
}
.img2{
        height: 100px;
        width: 100px;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 40px;
        margin-bottom: 10px;
    
}
.btn{
    height: 30px;
    width: 150px;
    margin-left: 25px;
    background-color: blue;
    border: 2px solid rgb(243, 237, 237);
    color: white;
    border-radius: 4px;
    font-size: 15px;

}
.table1{
    height: 80px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.table2{
    background-color:transparent;
    height: 50px;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.score-sction:hover{
    border: 2px solid white;
}
.btn2{
    border: 1px solid black;
    border-radius: 4px;
    height: 30px;
    width: 90px;
    background-color: rgba(21, 242, 46, 0.925);
    color: white;
}
.btn2:hover{
    background-color: rgba(38, 212, 58);
    color: white;
    height: 35px;
    width: 95px;
    font-size: 16px;
    border: 3px solid white;
}
.btn2 a:hover{
    background-color: red;
   
}
.btn2:active{
    background-color: aqua;
}
span{
    font-size: 24px;
    margin: 12px;
    color: white;

}
#s{
    color: #24f40d;
    font-size: 30px;
   

}
.player1 h1{
    color:rgb(239, 16, 180);
}
.player2 h1{
    color: rgb(180, 229, 75);
}
#h1-1{
    color: rgb(245, 235, 235);
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
}
.Wellcome::first-letter{
    color: red;
}
.heading{
    display: flex;
    text-align: center;
    margin-left: 31%;
    margin-right: auto;
    margin-top: 30px;
    font-size: 23px;
}
.Wellcome{
    color:white;
    margin-right: 2%;
}
.ludo{
    display: flex;
}
.l{
    color: red;
    margin-right: 7px;
    rotate: -15deg;
    
}
.l:hover{
    font-size: 27px;
}
.u{
    color: rgb(35, 225, 35);
    margin-right: 7px;
    rotate: 12deg;
}
.u:hover{
    font-size: 27px;
}
.d{
    color: blue;
    margin-right: 7px;
    rotate: 15deg;
}
.d:hover{
    font-size: 27px;
}
.o{
    color: yellow;
    margin-right: 7px;
    rotate: 12deg;
}
.o:hover{
    font-size: 27px;
}
.game{
    color:white;
    margin-left: 2%;
}
#Restart{
    background-color: red;
}
#Restart:disabled{
    background-color: rgba(255, 0, 0, 0.404);
}
#Start:disabled{
    background-color: #24f40d47 ;
}
#d{
    color:wheat;
    font-size: 24px;
    margin-left: 35%;
}
.inputfild{
    margin-left: 27%;
}
#name1,#name2{
    height: 28px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}
#Roll-btn1:disabled,#Roll-btn2:disabled{
    background-color: rgba(0, 0, 255, 0.13);

}